/* Utility */
html,body{
	font-family:'微软雅黑';
	color:#333;
	background: url("../img/bg.png");
	font-size: 14px;
}
.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap { zoom: 1;}
.list-unstyled {padding-left: 0;list-style: none;}
a,a:hover{text-decoration:none;color:rgb(0, 148, 255);}
pre{
	font-family: 'Consolas', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
	font-size: 13px;
	letter-spacing: 0.015em;
	line-height: 120%;
	padding: 0.5em;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: #f8f8f8;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site left */
.main-content{
	
}
.leftBar{
	position: fixed;
	background: #2a3237;
	left: 0px;
	top: 0px;
	height:100%;
	width:30px;
	padding: 9px;
}
.content{
	width:70%;
	min-width: 600px;
	background: white;
	border-right: 1px solid #dddddd;
	box-shadow: 2px 0 1px #dbdbdb;
	padding: 0 20px 0 68px;
}


/* Index list */
.posts .post-item{
	padding-top: 10px;	
	border-bottom: 1px solid #eeeeee;
}
.posts .post-item .post-link{
	color:#333;
	display: block;
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 20px;
}
.post-title{
	font-size: 24px;
	line-height: 1.6;
}
.post-date{
	color:#dddddd;
	font-size: 12px;
	line-height: 1.6;
}
.post-desc{
	font-size: 14px;
	line-height: 1.6;
	padding-top: 10px;
}

/* post-content */
.post-content{
	padding:20px 0;
	line-height: 1.6;
}

.post-content h2{
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
}
.post-content ol{
	list-style: decimal inside;
}
.post-content ul{
	list-style: none;
}
.post-content section{
	padding: 5px 0;
}
.post-content .tips{
	color: #ddd;
}
.post-content .tips a{
	color: #ddd;
	text-decoration: underline;
}
.post-content .refer{
	border:1px solid #ddd;
	background: #FFFBCD;
	padding: 10px 15px;
}