<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="viewport" content="minimal-ui">
    
    <!-- START OPEN GRAPH TAGS--> 
    <meta property="og:title" content="The Moment" /> 
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" /> 
    <meta property="og:image" content="" /> 
    <meta property="og:description" content="" /> 
    <!-- END OPEN GRAPH TAGS--> 
    
    
  </head>
  <body>
    {{ content }}
  </body>
</html>