<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
    	<section class="main-content wrap">
    		<section class="leftBar">
    			<ul class="leftBarNav list-unstyled">
    				<li>
    					<a href="{{baseurl}}"><img src="{{baseurl}}/img/icon-blog.png"></a>
    				</li>
    				<li>
    					<a href="{{baseurl}}/note"><img src="{{baseurl}}/img/icon-note.png"></a>
    				</li>
    				<li>
    					<a href="{{baseurl}}/demo"><img src="{{baseurl}}/img/icon-demo.png"></a>
    				</li>
    				<li>
    					<a href="{{baseurl}}/about"><img src="{{baseurl}}/img/icon-about.png"></a>
    				</li>
       			</ul>
    		</section>
    		<section class="content">
    			{{ content }}
    		</section>
    	</section>
    </body>
</html>