<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
    	<section class="main-content wrap">
    		<section class="leftBar">
    			<ul class="leftBarNav list-unstyled">
    				<li>
    					<a href="/"><img src="{{baseurl}}/img/icon-blog.png"></a>
    				</li>
    				<li>
    					<a href="/note"><img src="{{baseurl}}/img/icon-note.png"></a>
    				</li>
    				<li>
    					<a href="/demo"><img src="{{baseurl}}/img/icon-demo.png"></a>
    				</li>
    				<li>
    					<a href="/about"><img src="{{baseurl}}/img/icon-about.png"></a>
    				</li>
       			</ul>
    		</section>
    		<section id="main_content" class="content">
    			{{ content }}
    		</section>
    	</section>

        <script type="text/javascript">
            $(function(){
                $("#main_content").css("min-height", $(window).height());
                window.resize = function(){
                    console.log("yes");
                    $("#main_content").css("min-height", $(window).height());
                };
            });
        </script>
    </body>
</html>